<%= image_tag current_user.avatar %><br>

<strong><%= @github_user.profile[:name] %></strong><br>
<%= @github_user.profile[:login] %><br>

<%= @github_user.profile[:email] %><br>


<%= link_to "Logout", logout_path %>
<hr>
<%= link_to "Stars", stars_path %>
<hr>
<%= link_to "Followers", followers_path %>
<%= @github_user.profile[:followers] %>

<hr>
<%= link_to "Following", following_index_path %>
<%= @github_user.profile[:following] %>
<hr>
<%= link_to "Repositories", repos_path %>
<hr>
<h5>Organizations</h5>
<%= @github_user.organizations.map do |organization| %>
  <%= image_tag organization.avatar_url %>
<% end %>
<hr>
<h5>My recent activity</h5>
  <%= @github_user.recent_events.map do |activity| %>
    <p><a href="https://www.github.com/<%= activity.repo %>"><%= activity.repo %></a>  <%= activity.event_type %>  <%= time_ago_in_words(activity.created_at) %>
  <% end %>
<hr>
<h5>Recent Activity from users I follow</h5>
<%= @github_user.activity_from_others.map do |activity| %>
  <p><a href="https://www.github.com/<%= activity.login %>" ><%= activity.login %></a>  <%= activity.type %>  <a href="https://github.com/<%= activity.repo_name %>" ><%= activity.repo_name %>  </a>  <%= time_ago_in_words(activity.created_at) %> </p>
<% end %>
