<%= image_tag current_user.avatar %><br>

<strong><%= @github_user.profile[:name] %></strong><br>
<%= @github_user.profile[:login] %><br>

<%= @github_user.profile[:email] %><br>


<%= link_to "Logout", logout_path %>
<hr>
<%= link_to "Stars", stars_path %>
<hr>
<%= link_to "Followers", followers_path %>
<%= @github_user.profile[:followers] %>

<hr>
<%= link_to "Following", following_index_path %>
<%= @github_user.profile[:following] %>
<hr>
<%= link_to "Repositories", repos_path %>
<hr>
<h5>Organizations</h5>
<%= @github_user.organizations.map do |organization| %>
  <%= image_tag organization.avatar_url %>
<% end %>
<hr>
<%= link_to "User activity", events_path %>
<hr>
<h5>Recent Activity from users I follow</h5>
<%= @github_user.activity_from_others.map do |act| %>
  <p><a href="https://www.github.com/<%= act.login %>" ><%= act.login %></a>  <%= act.type %>  <a href="https://github.com/<%= act.repo_name %>" ><%= act.repo_name %>  </a>  <%= act.created_at %> </p>
<% end %>
