<div class="dashboard" style="width:800px; margin: 0 auto;">
<h1>Repositories</h1>

<%= @repos.each do |repo| %>
  <p><a href="<%= repo.html_url %>"><%= repo.name %></a></p>
  <p><%= repo.language %> - <%= time_ago_in_words(repo.updated_at) %> ago</p>
  <hr>
<% end %>
<center><%= link_to "Return to Dashboard", dashboard_index_path, class: "button" %></center>
</div>
