<div class="dashboard" style="width:800px; margin: 0 auto;">
  <div class="profile">
  <%= image_tag current_user.avatar, class: "avatar" %><br>
  <strong><%= @github_user.profile[:name] %></strong><br>
  <%= @github_user.profile[:login] %><br>
  <%= @github_user.profile[:email] %><br>
  <br>
  <%= link_to "Logout", logout_path, class: "button" %>
  <br><br>
  </div>
  <div class="links">
    <%= link_to "Stars", user_stars_path(current_user) %> - <%= link_to "Followers", user_followers_path(current_user) %>
    <%= @github_user.profile[:followers] %> - <%= link_to "Following", user_following_path(current_user) %>
    <%= @github_user.profile[:following] %> - <%= link_to "Repositories", user_repos_path(current_user) %>
    <hr>
</div>
<h3>Organizations</h3>
<center><%= @github_user.organizations.map do |organization| %>
  <%= image_tag organization.avatar_url, class: "img-rounded" %>
<% end %>
</center>
<hr>
<h3>Recent commits</h3>
<%= @github_user.recent_commits.map do |commits| %>
  <%= current_user.username + "/" + commits.keys[0] + "  #{commits.values.flatten.count}" + " commits" %><br>
<% end %>
<hr>
<h3>My recent activity</h3>
  <%= @github_user.recent_events.map do |activity| %>
    <p><a href="https://www.github.com/<%= activity.repo %>"><%= activity.repo %></a>  <%= activity.event_type %>  <%= time_ago_in_words(activity.created_at) %> ago
  <% end %>
<hr>
<h3>Recent activity from users I follow</h3>
<%= @github_user.activity_from_others.map do |activity| %>
  <p><a href="https://www.github.com/<%= activity.login %>" ><%= activity.login %></a>  <%= activity.type %>  <a href="https://github.com/<%= activity.repo_name %>" ><%= activity.repo_name %>  </a>  <%= time_ago_in_words(activity.created_at) %> ago </p>
<% end %>
</div>
